<ng-container *ngTemplateOutlet="flightCards"></ng-container>

<ng-template #flightCards>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{flight.airline.code}}&nbsp;{{flight.flightNumber}}</mat-card-title>
      <mat-card-subtitle> {{flight.airline.name}} </mat-card-subtitle>
      <!-- <span class="arrivalStatusIndicator {{flight.flightStatusPublic}}"> {{flight.flightStatusPublicLangTransl}}</span> -->
    </mat-card-header>
    <app-flight-leg-info-card [legsInfo]="flight.flightLegs"></app-flight-leg-info-card>
  </mat-card>
</ng-template>