.flight-search-container {
    .afkl_logo {
        height: 40px;
        background: no-repeat center / contain url('../../../assets/air-france-klm-logo.png');
        margin-bottom: 20px;
    }
    .searchForm {
        display: flex;
        justify-content: center;
        align-items: baseline;
        button {
            height: 35px;
        }
    }
    .form-field {
        margin: 0 15px;
        .mat-form-field {
            margin-right: 10px;
        }
    }
    background: #fff;
    padding: 30px 25px 0;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    .menu {
        display: none;
    }
    .error {
        color: red;
        padding: 5px 20px 20px;
        text-align: center;
    }
}
@media only screen and (min-width:320px) and (max-width:900px) and (max-height:900px) {
    .flight-search-container {
        padding-bottom: 10px;
        .searchForm {
            flex-direction: column;
            .form-field {
                margin-left: 0;
            }
        }
        .afkl_logo {
            margin-bottom: 0;
        }
    }
}
@media only screen and (min-width:1200px) {
    .flight-search-container {
        width: 60% !important;
    }
}