<ng-template [ngIf]='showLoader'>
    <app-loader></app-loader>
</ng-template>

<div class="main-container" >
  <app-search-flight></app-search-flight>

  <div class="flight-status-container">
    
      <ng-template [ngIf]="flights">
          <h4 class="displayMsg">Displaing Flights from now - {{currentTime}} untill tomorrow {{tomorrow}}</h4>
          <div *ngFor="let flight of flights">
              <app-flight-status-card [flightResponse]=flight></app-flight-status-card>
            </div>
      </ng-template>

  </div>
</div>